<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="preferences"
		label="COM_PROJECTLOG_CONFIG_PREFERENCES_LABEL"
		description="COM_PROJECTLOG_CONFIG_PREFERENCES_DESC"
		>
        <field name="pl_offline"
			type="radio"
			label="COM_PROJECTLOG_FIELD_CONFIG_OFFLINE_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_OFFLINE_DESC"
			class="btn-group btn-group-yesno"
			default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        
        <field name="pl_offline_message"
			type="textarea"
			label="COM_PROJECTLOG_FIELD_CONFIG_OFFLINE_MESSAGE_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_OFFLINE_MESSAGE_DESC"
            rows="5"
        />
        
		<field name="require_approval"
			type="radio"
			label="COM_PROJECTLOG_FIELD_CONFIG_REQUIRE_APPROVAL_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_REQUIRE_APPROVAL_DESC"
			class="btn-group btn-group-yesno"
			default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        
        <field name="approval_level"
			type="radio"
			label="COM_PROJECTLOG_FIELD_CONFIG_APPROVAL_LEVEL_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_APPROVAL_LEVEL_DESC"
			class="btn-group btn-group-yesno"
			default="1">
			<option value="1">COM_PROJECTLOG_FIELD_CONFIG_MANAGER_LABEL</option>
			<option value="2">JADMINISTRATOR</option>
		</field>
        
        <field name="project_notify"
			type="radio"
			label="COM_PROJECTLOG_FIELD_CONFIG_PROJECT_NOTIFY_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_PROJECT_NOTIFY_DESC"
			class="btn-group btn-group-yesno"
			default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        
        <field name="log_notify"
			type="radio"
			label="COM_PROJECTLOG_FIELD_CONFIG_LOG_NOTIFY_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_LOG_NOTIFY_DESC"
			class="btn-group btn-group-yesno"
			default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        
        <field name="doc_notify"
			type="radio"
			label="COM_PROJECTLOG_FIELD_CONFIG_DOC_NOTIFY_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_DOC_NOTIFY_DESC"
			class="btn-group btn-group-yesno"
			default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        
        <field name="notify_level"
			type="list"
			label="COM_PROJECTLOG_FIELD_CONFIG_NOTIFY_LEVEL_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_NOTIFY_LEVEL_DESC"
			class="btn-group btn-group-yesno"
			default="0">
			<option value="0">JADMINISTRATOR</option>
			<option value="1">COM_PROJECTLOG_MANAGER</option>
            <option value="2">COM_PROJECTLOG_BOTH</option>
		</field>
        
        <field name="allowed_mimetypes" 
            type="text"
            default="image/jpeg,image/gif,image/png,application/pdf,application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/vnd.oasis.opendocument.text,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,video/mpeg,video/x-msvideo,application/zip"
            label="COM_PROJECTLOG_FIELD_CONFIG_ALLOWED_MIMETYPES_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_ALLOWED_MIMETYPES_DESC"
            size="30"
        />
        
        <field name="allowed_filetypes" 
            type="text"
            default="jpg,gif,png,pdf,doc,xls,odt,ods,ppt,mpeg,avi,zip"
            label="COM_PROJECTLOG_FIELD_CONFIG_ALLOWED_FILETYPES_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_ALLOWED_FILETYPES_DESC"
            size="30"
        />
        
        <field name="max_imgsize" 
            type="text"
            default="2000"
            label="COM_PROJECTLOG_FIELD_CONFIG_MAX_IMGSIZE_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_MAX_IMGSIZE_DESC"
            size="30"
        />
        
        <field name="show_footer"
			type="radio"
			label="COM_PROJECTLOG_FIELD_CONFIG_SHOW_FOOTER_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_SHOW_FOOTER_DESC"
			class="btn-group btn-group-yesno"
			default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
    
	<fieldset name="project" label="COM_PROJECTLOG_FIELD_CONFIG_INDIVIDUAL_PROJECT_DISPLAY"	description="COM_PROJECTLOG_FIELD_CONFIG_INDIVIDUAL_PROJECT_DESC">
		<field name="project_layout"
            type="componentlayout"
            label="JFIELD_ALT_LAYOUT_LABEL"
            description="JFIELD_ALT_COMPONENT_LAYOUT_DESC"
            extension="com_projectlog"
            view="project"
            useglobal="true"
        />

        <field name="show_project_category"
            type="list"
            default="show_with_link"
            label="JGLOBAL_SHOW_CATEGORY_LABEL"
            description="COM_PROJECTLOG_FIELD_SHOW_CATEGORY_DESC"
            >
            <option value="hide">JHIDE</option>
            <option value="show_no_link">COM_PROJECTLOG_FIELD_VALUE_NO_LINK</option>
            <option value="show_with_link">COM_PROJECTLOG_FIELD_VALUE_WITH_LINK</option>
        </field>

        <field name="show_project_list"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PROJECT_SHOW_LIST_LABEL"
            description="COM_PROJECTLOG_FIELD_PROJECT_SHOW_LIST_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>
        
        <field name="show_icons"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_ICONS_LABEL"
			description="JGLOBAL_SHOW_ICONS_DESC"
			default="1"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
        
        <field name="show_print_icon"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_PRINT_ICON_LABEL"
			description="JGLOBAL_SHOW_PRINT_ICON_DESC"
			default="1"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_email_icon"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_EMAIL_ICON_LABEL"
			description="JGLOBAL_SHOW_EMAIL_ICON_DESC"
			default="1"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
        
        <field name="pl_date_format"
            type="list"
            default="1"
            label="COM_PROJECTLOG_FIELD_CONFIG_DATE_LABEL" 
            description="COM_PROJECTLOG_FIELD_CONFIG_DATE_DESC"
            >            
			<option value="l, d F Y">l, d F Y</option>
            <option value="m/d/Y">m/d/Y</option>
            <option value="d F Y">d F Y</option>
            <option value="Y-m-d">Y-m-d</option>
            <option value="y-m-d">y-m-d</option>
            <option value="l, d F Y H:i">l, d F Y H:i</option>
        </field>			

        <field name="show_name"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_NAME_LABEL" 
            description="COM_PROJECTLOG_FIELD_PARAMS_NAME_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_client"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_CLIENT_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_CLIENT_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_release_date"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_RELEASE_DATE_LABEL" 
            description="COM_PROJECTLOG_FIELD_PARAMS_RELEASE_DATE_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_contract_date"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_CONTRACT_DATE_LABEL" 
            description="COM_PROJECTLOG_FIELD_PARAMS_CONTRACT_DATE_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_deployment_date"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_DEPLOYMENT_DATE_LABEL" 
            description="COM_PROJECTLOG_FIELD_PARAMS_DEPLOYMENT_DATE_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_project_type"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_PROJECT_TYPE_LABEL" 
            description="COM_PROJECTLOG_FIELD_PARAMS_PROJECT_TYPE_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_manager"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_PROJECT_MANAGER_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_PROJECT_MANAGER_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>           

        <field name="show_chief"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_CHIEF_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_CHIEF_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_technicians"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_TECHNICIANS_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_TECHNICIANS_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_webpage"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_WEBPAGE_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_WEBPAGE_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_email"
            type="radio"
			class="btn-group btn-group-yesno"
            default="0"
            label="JGLOBAL_EMAIL"
            description="COM_PROJECTLOG_FIELD_PARAMS_PROJECT_E_MAIL_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_specific_loc"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_SPECIFIC_LOC_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_SPECIFIC_LOC_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>			

        <field name="show_release_id"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_RELEASE_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_RELEASE_ID_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_job_id"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_JOB_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_JOB_ID_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>			

        <field name="show_task_id"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_TASK_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_TASK_ID_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_workorder_id"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_WORKORDER_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_WORKORDER_ID_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_mobile"
            type="radio"
			class="btn-group btn-group-yesno"
            default="0"
            label="COM_PROJECTLOG_FIELD_PARAMS_MOBILE_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_MOBILE_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_misc"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_MISC_INFO_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_MISC_INFO_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_image"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_PARAMS_SHOW_IMAGE_LABEL"
            description="COM_PROJECTLOG_FIELD_PARAMS_SHOW_IMAGE_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_articles" 
            type="radio"
			class="btn-group btn-group-yesno"
            default="0"
            label="COM_PROJECTLOG_FIELD_ARTICLES_SHOW_LABEL"
            description="COM_PROJECTLOG_FIELD_ARTICLES_SHOW_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="show_links"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_SHOW_LINKS_LABEL"
            description="COM_PROJECTLOG_FIELD_SHOW_LINKS_DESC"            
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>

        <field name="linka_name" 
            type="text"
            label="COM_PROJECTLOG_FIELD_LINKA_NAME_LABEL"
            description="COM_PROJECTLOG_FIELD_LINK_NAME_DESC"
            size="30"
        />

        <field name="linka" 
            type="url" 
            filter="url"
            label="COM_PROJECTLOG_FIELD_LINKA_LABEL"
            description="COM_PROJECTLOG_FIELD_LINKA_DESC"
            size="30"
        />

        <field name="linkb_name" 
            type="text"
            label="COM_PROJECTLOG_FIELD_LINKB_NAME_LABEL"
            description="COM_PROJECTLOG_FIELD_LINK_NAME_DESC"
            size="30"
        />

        <field name="linkb" 
            type="url" 
            filter="url"
            label="COM_PROJECTLOG_FIELD_LINKB_LABEL"
            description="COM_PROJECTLOG_FIELD_LINKB_DESC"
            size="30"
        />

        <field name="linkc_name"
            type="text"
            label="COM_PROJECTLOG_FIELD_LINKC_NAME_LABEL"
            description="COM_PROJECTLOG_FIELD_LINK_NAME_DESC"
            size="30"
        />

        <field name="linkc"
            type="url" 
            filter="url"
            label="COM_PROJECTLOG_FIELD_LINKC_LABEL"
            description="COM_PROJECTLOG_FIELD_LINKC_DESC"
            size="30"
        />

        <field name="linkd_name"
            type="text"
            label="COM_PROJECTLOG_FIELD_LINKD_NAME_LABEL"
            description="COM_PROJECTLOG_FIELD_LINK_NAME_DESC"
            size="30"
            />

        <field name="linkd"
            type="url" 
            filter="url"
            label="COM_PROJECTLOG_FIELD_LINKD_LABEL"
            description="COM_PROJECTLOG_FIELD_LINKD_DESC"
            size="30"
        />

        <field name="linke_name"
            type="text"
            label="COM_PROJECTLOG_FIELD_LINKE_NAME_LABEL"
            description="COM_PROJECTLOG_FIELD_LINK_NAME_DESC"
            size="30"
        />

        <field name="linke"
            type="url"
            filter="url"
            label="COM_PROJECTLOG_FIELD_LINKE_LABEL"
            description="COM_PROJECTLOG_FIELD_LINKE_DESC"
            size="30"
        />		

        <field name="show_tags"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_SHOW_TAGS_LABEL"
            description="COM_PROJECTLOG_FIELD_SHOW_TAGS_DESC"
            >
            <option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
        </field>
        
        <field name="save_history"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field
			name="history_limit"
			type="text"
			filter="integer"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
			default="5"
		/>
	</fieldset>
	
	<fieldset name="Category" label="JCATEGORY" description="COM_PROJECTLOG_FIELD_CONFIG_CATEGORY_DESC">
		<field name="category_layout" 
            type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			description="JGLOBAL_FIELD_LAYOUT_DESC"
			menuitems="true"
			extension="com_projectlog"
			view="category"
		/>
        
        <field name="maxLevel" 
            type="list"
			default="-1"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
            >
			<option value="-1">JALL</option>
			<option value="0">JNONE</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field name="show_category_title" 
            type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_CATEGORY_TITLE"
			description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_description" 
            type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_description_image" 
            type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>	

		<field name="show_empty_categories" 
            type="radio"
			default="0"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_PROJECTLOG_SHOW_EMPTY_CATEGORIES_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_subcat_desc" 
            type="radio"
			default="0"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_items" 
            type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			label="COM_PROJECTLOG_FIELD_SHOW_CAT_ITEMS_LABEL"
			description="COM_PROJECTLOG_FIELD_SHOW_CAT_ITEMS_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_tags" 
            type="radio"
			label="COM_PROJECTLOG_FIELD_SHOW_CAT_TAGS_LABEL"
			description="COM_PROJECTLOG_FIELD_SHOW_CAT_TAGS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>

    <fieldset name="categories"	label="JCATEGORIES"	description="COM_PROJECTLOG_FIELD_CONFIG_CATEGORIES_DESC">
		<field name="show_base_description" 
            type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			description="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="maxLevelcat" 
            type="list"
			default="-1"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
            >
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field name="show_empty_categories_cat" 
            type="radio"
			default="0"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_PROJECTLOG_SHOW_EMPTY_CATEGORIES_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_subcat_desc_cat" 
            type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_cat_items_cat" 
            type="radio"
			default="1"
			class="btn-group btn-group-yesno"
			label="COM_PROJECTLOG_FIELD_SHOW_CAT_ITEMS_LABEL"
			description="COM_PROJECTLOG_FIELD_SHOW_CAT_ITEMS_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>

	<fieldset name="projects" label="JGLOBAL_LIST_LAYOUT_OPTIONS" description="COM_PROJECTLOG_FIELD_CONFIG_TABLE_OF_PROJECTS_DESC">
		<field name="filter_field"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			description="JGLOBAL_FILTER_FIELD_DESC"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			>
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
		</field>

		<field name="show_pagination_limit" 
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
			description="JGLOBAL_DISPLAY_SELECT_DESC"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_headings" 
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
			description="JGLOBAL_SHOW_HEADINGS_DESC"
			label="JGLOBAL_SHOW_HEADINGS_LABEL"
            >
			<option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
		</field>

		<field name="show_project_type_headings" 
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_CONFIG_PROJECTTYPE_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_PROJECTTYPE_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_client_headings"
            type="radio"
			class="btn-group btn-group-yesno"
            default="0"
            label="COM_PROJECTLOG_FIELD_CONFIG_CLIENT_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_CLIENT_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_manager_headings" 
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_CONFIG_MANAGER_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_MANAGER_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_chief_headings" 
            type="radio"
			class="btn-group btn-group-yesno"
            default="0"
            label="COM_PROJECTLOG_FIELD_CONFIG_CHIEF_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_CHIEF_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>          

        <field name="show_release_id_headings"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_CONFIG_RELEASE_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_RELEASE_ID_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_job_id_headings"
            type="radio"
			class="btn-group btn-group-yesno"
            default="1"
            label="COM_PROJECTLOG_FIELD_CONFIG_JOB_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_JOB_ID_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_task_id_headings"
            type="radio"
			class="btn-group btn-group-yesno"
            default="0"
            label="COM_PROJECTLOG_FIELD_CONFIG_TASK_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_TASK_ID_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>           

        <field name="show_workorder_id_headings"
            type="radio"
			class="btn-group btn-group-yesno"
            default="0"
            label="COM_PROJECTLOG_FIELD_CONFIG_WORKORDER_ID_LABEL"
            description="COM_PROJECTLOG_FIELD_CONFIG_WORKORDER_ID_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_pagination" 
            type="list"
            default="2"
            description="JGLOBAL_PAGINATION_DESC"
            label="JGLOBAL_PAGINATION_LABEL"
            >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
            <option value="2">JGLOBAL_AUTO</option>
        </field>

        <field name="show_pagination_results"
            type="radio"
            class="btn-group btn-group-yesno"
            default="1"
            label="JGLOBAL_PAGINATION_RESULTS_LABEL"
            description="JGLOBAL_PAGINATION_RESULTS_DESC"
            >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="initial_sort" 
            type="list"
            description="COM_PROJECTLOG_FIELD_INITIAL_SORT_DESC"
            label="COM_PROJECTLOG_FIELD_INITIAL_SORT_LABEL"
            validate="options"
            default="ordering"
            >
            <option value="name">COM_PROJECTLOG_FIELD_VALUE_NAME</option>
            <option value="sortname">COM_PROJECTLOG_FIELD_VALUE_SORT_NAME</option>
            <option value="ordering">COM_PROJECTLOG_FIELD_VALUE_ORDERING</option>
        </field>
	</fieldset>

	<fieldset name="Project_Form" label="COM_PROJECTLOG_FIELD_CONFIG_PROJECT_FORM" description="COM_PROJECTLOG_FIELD_CONFIG_INDIVIDUAL_PROJECT_DESC">
		<field name="captcha"
			type="plugins"
			folder="captcha"
			default=""
			label="COM_PROJECTLOG_FIELD_CAPTCHA_LABEL"
			description="COM_PROJECTLOG_FIELD_CAPTCHA_DESC"
			filter="cmd" >
			<option value="">JOPTION_USE_DEFAULT</option>
			<option	value="0">JOPTION_DO_NOT_USE</option>
		</field>

		<field name="show_email_form"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_PROJECTLOG_FIELD_EMAIL_SHOW_FORM_LABEL"
			description="COM_PROJECTLOG_FIELD_EMAIL_SHOW_FORM_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="show_email_copy"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_PROJECTLOG_FIELD_EMAIL_EMAIL_COPY_LABEL"
			description="COM_PROJECTLOG_FIELD_EMAIL_EMAIL_COPY_DESC"
            >
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field name="banned_email"
			type="textarea"
			label="COM_PROJECTLOG_FIELD_CONFIG_BANNED_EMAIL_LABEL"
			rows="3"
			cols="30"
			description="COM_PROJECTLOG_FIELD_CONFIG_BANNED_EMAIL_DESC"
		/>

		<field name="banned_subject"
			type="textarea"
			label="COM_PROJECTLOG_FIELD_CONFIG_BANNED_SUBJECT_LABEL"
			rows="3"
			cols="30"
			description="COM_PROJECTLOG_FIELD_CONFIG_BANNED_SUBJECT_DESC"
		/>

		<field name="banned_text"
			type="textarea"
			label="COM_PROJECTLOG_FIELD_CONFIG_BANNED_TEXT_LABEL"
			rows="3"
			cols="30"
			description="COM_PROJECTLOG_FIELD_CONFIG_BANNED_TEXT_DESC"
		/>

		<field name="validate_session"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_PROJECTLOG_FIELD_CONFIG_SESSION_CHECK_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_SESSION_CHECK_DESC"
            >
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="custom_reply"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_PROJECTLOG_FIELD_CONFIG_CUSTOM_REPLY_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_CUSTOM_REPLY_DESC"
            >
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="redirect"
			type="text"
			size="30"
			label="COM_PROJECTLOG_FIELD_CONFIG_REDIRECT_LABEL"
			description="COM_PROJECTLOG_FIELD_CONFIG_REDIRECT_DESC" 
        />
	</fieldset>

	<fieldset name="integration" label="JGLOBAL_INTEGRATION_LABEL" description="COM_PROJECTLOG_CONFIG_INTEGRATION_SETTINGS_DESC">
		<field name="show_feed_link"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SHOW_FEED_LINK_LABEL"
			description="JGLOBAL_SHOW_FEED_LINK_DESC">
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
		</field>
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_projectlog"
			section="component" 
        />
	</fieldset>
</config>
