<?xml version="1.0" encoding="utf-8"?>
<config>
  <params>
	<param name="basic_access" type="list" default="0" label="Basic Access" description="Level of user that can access the projectlog component.">
        <option value="0">Public</option>
        <option value="18">Registered</option>
        <option value="19">Author</option>
        <option value="24">Administrator</option>
    </param>
    <param name="log_access" type="list" default="18" label="Log Access" description="Level of user that can access the project logs.">
        <option value="0">Public</option>
        <option value="18">Registered</option>
        <option value="19">Author</option>
        <option value="24">Administrator</option>
    </param>
	<param name="doc_access" type="list" default="18" label="Doc Access" description="Level of user that can access the project documents.">
        <option value="0">Public</option>
        <option value="18">Registered</option>
        <option value="19">Author</option>
        <option value="24">Administrator</option>
    </param>
	<param name="edit_access" type="list" default="19" label="Edit Access" description="Level of user that can add/edit/delete projects, logs, and documents.">
        <option value="0">Public</option>
        <option value="18">Registered</option>
        <option value="19">Author</option>
        <option value="24">Administrator</option>
    </param>
  </params>
</config>