<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            filter="rules"
            validate="rules"
            component="com_projectlog"
            section="component" />
    </fieldset>
    <fieldset name="component" label="COM_PROJECTLOG_CONFIG_LABEL" description="COM_PROJECTLOG_CONFIG_DESC" addfieldpath="/administrator/components/com_projectlog/models/fields">
        <field name="offline" type="list" default="0" label="COM_PROJECTLOG_OFFLINE" description="COM_PROJECTLOG_OFFLINE_DESC">
            <option value="0">NO</option>
            <option value="1">YES</option>
        </field>
        <field name="offmessage" type="textarea" cols="50" rows="3" label="COM_PROJECTLOG_OFF_MESSAGE" description="COM_PROJECTLOG_OFF_MESSAGE_DESC" />
        <field name="perpage" type="integer" default="20" label="COM_PROJECTLOG_PERPAGE" description="COM_PROJECTLOG_PERPAGE_DESC" first="1" last="40" step="5" />
        <field name="doc_types" type="text" label="COM_PROJECTLOG_ALLOWED_DOCS" description="COM_PROJECTLOG_ALLOWED_DOCS_DESC" />
        <field name="approval" type="list" default="0" label="COM_PROJECTLOG_REQUIRE_APPROVAL" description="COM_PROJECTLOG_REQUIRE_APPROVAL_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="plogeditor" type="list" default="0" label="COM_PROJECTLOG_FRONT_END_EDITOR" description="COM_PROJECTLOG_FRONT_END_EDITOR_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="notify_admin_project" type="list" default="0" label="COM_PROJECTLOG_NOTIFY_ADMIN_PROJECT" description="COM_PROJECTLOG_NOTIFY_ADMIN_PROJECT_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="notify_admin_log" type="list" default="0" label="COM_PROJECTLOG_NOTIFY_ADMIN_LOG" description="COM_PROJECTLOG_NOTIFY_ADMIN_LOG_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="notify_admin_doc" type="list" default="0" label="COM_PROJECTLOG_NOTIFY_ADMIN_DOC" description="COM_PROJECTLOG_NOTIFY_ADMIN_DOC_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="footer" type="list" default="1" label="COM_PROJECTLOG_FOOTER" description="COM_PROJECTLOG_FOOTER_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
</config>